# Server
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/urlshortener?retryWrites=true&w=majority
PORT=3001
CLIENT_URL=http://localhost:5173
NODE_ENV=development

# Client (prefix with VITE_ for Vite)
VITE_API_URL=http://localhost:3001
